:host {
  display: block;
}

.search-field {
  display: block;
  width: 100%;
  max-width: 100%;
}

.search-field__label {
  font-size: 12px;
  opacity: 0.6;
  display: block;
}

.search-field__input {
  display: inline-flex;
  align-items: center;
  width: 100%;
  max-width: 100%;

  margin-top: 6px;
  padding: 6px 12px;

  border-radius: 6px;
  border: 1px solid rgba(76, 141, 255, 0.2);

  input {
    flex: 1 1 auto;
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    min-width: 0;
    color: white;
  }

  mat-icon {
    opacity: 0.6;
  }
}

@media (max-width: 640px) {
  .search-field__input {
    padding: 8px 12px;
  }
}
