<div class="user-edit-page">

  <div class="user-edit-page__header">

    <h2>{{ user?.personName }}</h2>
    
    <div class="user-edit-page__status">
      Status:
      <span
        class="user-edit-page__status-value"
        [class.user-edit-page__status-value--active]="isActivateValue"
        [class.user-edit-page__status-value--inactive]="!isActivateValue"
      >
        {{ isActivateValue ? 'Ativo' : 'Inativo' }}
      </span>
    </div>

    <div class="user-edit-page__status">
        Tipo de Usuário:
        <span class="user-edit-page__status-value">
          {{ user?.nameUserType || 'N/A' }}
        </span>
    </div>

  </div>

  <div class="user-edit-page__card" [formGroup]="form">

    <mat-form-field appearance="outline" class="user-edit-page__field">

      <mat-label>Tipo de Usuário</mat-label>

      <mat-select formControlName="userType">

        <mat-option
          *ngFor="let type of userTypes"
          [value]="type.id">
          
          {{ type.displayName }}

        </mat-option>

      </mat-select>

    </mat-form-field>

    <mat-form-field appearance="outline" class="user-edit-page__field">

      <mat-label>Status</mat-label>

      <mat-select formControlName="activate">

        <mat-option [value]="true">Ativo</mat-option>
        <mat-option [value]="false">Inativo</mat-option>

      </mat-select>

    </mat-form-field>

  </div>

  <div class="user-edit-page__actions">

    <div class="user-edit-page__actions-container">

      <app-button
        class="user-edit-page__save-button"
        [disabled]="loading"
        (click)="save()"
      >
        {{ loading ? 'Salvando...' : 'Salvar alterações' }}
      </app-button>

      <app-button class="user-edit-page__cancel-button" (click)="cancel()">
        Cancelar
      </app-button>

    </div>
    
  </div>
  
</div>
