.filter-panel {
  width: 300px;

  background: #1B2130;

  border-radius: 10px;
  padding: 20px;

  border: 1px solid rgba(76,141,255,0.15);

  box-shadow: 0 10px 30px rgba(0,0,0,0.35);

  display: flex;
  flex-direction: column;
  gap: 18px;
}

.filter-panel__title {
  margin: 0 0 16px 0;
  font-size: 16px;
}

.filter-panel__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.filter-panel__actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

::ng-deep .mat-mdc-menu-panel {
  padding: 0 !important;
}

.filter-panel__apply-action {
  padding: 10px 18px;

  background: linear-gradient(
    90deg,
    #5A98FF 0%,
    #2E5599 100%
  );

  border: 1px solid;
  border-radius: 6px;
  border-color: #455A80;

  color: #FFFFFF;
  font-weight: 500;
}

.filter-panel__apply-action:hover {
  background: #4C8DFF;
  filter: brightness(1.1);
}

.filter-panel__clear-action {
  padding: 10px 18px;

  background: transparent;
  
  border: 1px solid;
  border-radius: 6px;
  border-color: #455A80;

  color: #9AA6BF;
  font-weight: 500;
}

.filter-panel__clear-action:hover {
  background: rgba(69, 90, 128, 0.1);
  filter: brightness(1.1);
}
