<div class="toast">

  <div class="toast__header">

    <div class="toast__icon">
      ✓
    </div>

    <div class="toast__title">
      {{ data.title }}
    </div>

  </div>

  <div class="toast__person">

    <div class="toast__name" *ngIf="data.name">
      {{ data.name }}
    </div>

    <div class="toast__info" *ngIf="data.info">
      {{ data.info }}
    </div>

  </div>

  <div class="toast__actions">

    <app-button
      *ngIf="data.primaryAction"
      class="toast__primary-action"
      (click)="action(data.primaryAction.type)"
    >
      {{ data.primaryAction.label }}
    </app-button>

    <app-button
      *ngIf="data.secondaryAction"
      class="toast__secondary-action"
      (click)="action(data.secondaryAction.type)"
    >
      {{ data.secondaryAction.label }}
    </app-button>

  </div>

</div>
