<div class="toast">

  <div class="toast-header">

    <div class="toast-icon">
      ✓
    </div>

    <div class="toast-title">
      {{ data.title }}
    </div>

  </div>

  <div class="toast-person">

    <div class="toast-name" *ngIf="data.name">
      {{ data.name }}
    </div>

    <div class="toast-info" *ngIf="data.info">
      {{ data.info }}
    </div>

  </div>

  <div class="toast-actions">

    <app-button
      *ngIf="data.primaryAction"
      class="register-btn"
      (click)="action(data.primaryAction.type)"
    >
      {{ data.primaryAction.label }}
    </app-button>

    <app-button
      *ngIf="data.secondaryAction"
      class="back-to-list-btn" 
      (click)="action(data.secondaryAction.type)"
    >
      {{ data.secondaryAction.label }}
    </app-button>

  </div>

</div>