<div class="product-list">

    <div class="product-list__header">
        <div>
            <h2>Produtos</h2>
    
            <p>Gerencie os produtos aqui • {{ totalProducts }} produtos cadastrados</p>
        </div>

        <app-button class="product-list__create-button" routerLink="/products/create">
            Novo Produto
        </app-button>
    </div>

    <div class="product-list__toolbar">

        <app-search-field
            label="Pesquisar produtos"
            placeholder="Nome, marca ou categoria"
            (search)="onSearch($event)">
        </app-search-field>

        <button class="product-list__filter-button" [matMenuTriggerFor]="filterMenu">
            <mat-icon>filter_alt</mat-icon>
            Filtrar
        </button>

    </div>

    <div class="product-list__table-container">

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let product">
                    <span class="product-list__text-cell">{{ product.productName }}</span>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="brand">
                <th mat-header-cell *matHeaderCellDef> Marca </th>
                <td mat-cell *matCellDef="let product">
                    <span class="product-list__text-cell">{{ product.brand }}</span>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef> Categoria </th>
                <td mat-cell *matCellDef="let product"> {{ product.category }} </td>
            </ng-container>
    
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef> Preço </th>
                <td mat-cell *matCellDef="let product"> {{ formatPrice(product.price) }} </td>
            </ng-container>
    
            <ng-container matColumnDef="validity">
                <th mat-header-cell *matHeaderCellDef> Validade </th>
                <td mat-cell *matCellDef="let product"> {{ formatValidity(product.validity) }} </td>
            </ng-container>
    
            <ng-container matColumnDef="stock">
                <th mat-header-cell *matHeaderCellDef> Estoque </th>
                <td mat-cell *matCellDef="let product"> {{ product.stock }} </td>
            </ng-container>
    
            <ng-container matColumnDef="active">
                <th mat-header-cell *matHeaderCellDef> Ativo </th>
                <td mat-cell *matCellDef="let product"> 

                        <span 
                            class="product-list__status"
                            [class.product-list__status--active]="product.active"
                            [class.product-list__status--inactive]="!product.active">
    
                            {{ product.active ? 'Ativo' : 'Inativo' }} 
                        </span>

                </td>
            </ng-container>
    
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Ações </th>
                <td mat-cell *matCellDef="let product">
    
                    <button mat-icon-button color="primary" [routerLink]="['/products/edit', product.id]">
                        <mat-icon>edit</mat-icon>
                    </button>
    
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell product-list__no-data" colspan="8">
                Nenhum produto encontrado
            </td>
            </tr>
    
        </table>
    </div>


    <mat-paginator
        [length]="totalProducts"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>

    <mat-menu #filterMenu="matMenu" xPosition="after" yPosition="below">
        <app-filter-panel
            (filtersApplied)="applyFilter()"
            (filtersCleared)="clearFilter()"
        >
            <div class="product-list__filter-group">
                <span>Status</span>

                <mat-radio-group [(ngModel)]="filter.status" (click)="$event.stopPropagation()">

                    <mat-radio-button value="all">
                        Todos
                    </mat-radio-button>
                    <mat-radio-button value="active">
                        Ativo
                    </mat-radio-button>
                    <mat-radio-button value="inactive">
                        Inativo
                    </mat-radio-button>

                </mat-radio-group>

            </div>

            <div class="product-list__filter-group" (click)="$event.stopPropagation()">
                <app-search-field
                    #minPriceField
                    label="Preço mínimo"
                    placeholder="Preço mínimo"
                    (search)="onMinPriceSearch($event)">
                </app-search-field>
            </div>

            <div class="product-list__filter-group" (click)="$event.stopPropagation()">
                <app-search-field
                    #maxPriceField
                    label="Preço máximo"
                    placeholder="Preço máximo"
                    (search)="onMaxPriceSearch($event)">
                </app-search-field>
            </div>

        </app-filter-panel>
    </mat-menu>

</div>
