<mat-toolbar class="site-header">

  <div class="site-header__logo">
    Sistema de Notificação de Estoque
  </div>

  <nav class="site-header__nav">

    <a mat-button class="site-header__nav-link" routerLink="/" routerLinkActive="site-header__nav-link--active">Início</a>
    <a mat-button class="site-header__nav-link" routerLink="/person" routerLinkActive="site-header__nav-link--active">Pessoas</a>
    <a mat-button class="site-header__nav-link" routerLink="/users" routerLinkActive="site-header__nav-link--active">Usuários</a>
    <a mat-button class="site-header__nav-link" routerLink="/products" routerLinkActive="site-header__nav-link--active">Produtos</a>
    <a mat-button class="site-header__nav-link" routerLink="/orders" routerLinkActive="site-header__nav-link--active">Pedidos</a>

  </nav>

  <div class="site-header__logout">
      <button mat-button class="site-header__logout-button" (click)="logout()">
        <mat-icon>logout</mat-icon>
        Sair
      </button>
  </div>

</mat-toolbar>
