<div class="user-page">

    <div class="page-header">
        <div>
            <h2>Usuários</h2>
            <p>Gerencie os usuários do sistema • {{ totalUsers }} usuários cadastrados</p>
        </div>

        <app-button class="new-user-btn">
            Novo usuário
        </app-button>
    </div>

    <div class="toolbar">

        <app-search-field
            label="Pesquisar usuário"
            placeholder="Nome ou email"
            (search)="onSearch($event)">
        </app-search-field>

        <button class="filter-btn" [matMenuTriggerFor]="filterMenu">
            <mat-icon>filter_alt</mat-icon>
            Filtrar
        </button>

    </div>

    <div class="table-container">

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let user"> {{ user.personName }} </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let user"> {{ user.email }} </td>
            </ng-container>

            <ng-container matColumnDef="userType">
                <th mat-header-cell *matHeaderCellDef> Tipo de Usuário </th>
                <td mat-cell *matCellDef="let user"> {{ user.userType }} </td>
            </ng-container>

            <ng-container matColumnDef="active">
                <th mat-header-cell *matHeaderCellDef> Ativo </th>
                <td mat-cell *matCellDef="let user"> 

                    <span 
                        class="status" 
                        [class.active]="user.active"
                        [class.inactive]="!user.active">

                        {{ user.active ? 'Ativo' : 'Inativo' }}

                    </span>

                </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Ações </th>
                <td mat-cell *matCellDef="let user">

                    <button mat-icon-button color="primary">
                        <mat-icon>edit</mat-icon>
                    </button>

                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell no-data" colspan="5">
                Nenhum usuário encontrado
            </td>
            </tr>

        </table>

    </div>

    <mat-paginator
        [length]="totalUsers"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>

    <mat-menu #filterMenu="matMenu">

        <app-filter-panel
            (filtersApplied)="applyFilters()"
            (filtersCleared)="clearFilters()"
         >

            <div class="filter-group">

                <span>Status</span>

                <mat-radio-group [(ngModel)]="filters.status" (click)="$event.stopPropagation()">

                    <mat-radio-button value="all">
                    Todos
                    </mat-radio-button>

                    <mat-radio-button value="active">
                    Ativos
                    </mat-radio-button>

                    <mat-radio-button value="inactive">
                    Inativos
                    </mat-radio-button>

                </mat-radio-group>

            </div>

            <div class="filter-group">

                <span>Tipo de Usuário</span>

                <mat-radio-group [(ngModel)]="filters.userType" (click)="$event.stopPropagation()">

                    <mat-radio-button value="all">
                    Todos
                    </mat-radio-button>

                    <mat-radio-button
                        *ngFor="let type of userTypes"
                        [value]="type.name">

                    {{ type.displayName }}

                    </mat-radio-button>

                </mat-radio-group>

            </div>

        </app-filter-panel>
        
    </mat-menu>

</div>